<script type="text/javascript">
    var {{ rawParams['id'] }}_dataTable = {};
    jQuery(document).ready(function() {
        {% spaceless %}
        {{ rawParams['id'] }}_dataTable = jQuery('#{{ rawParams['id'] }}').dataTable({{ params|json_encode(constant('JSON_HEX_QUOT'))|convertFunctions|raw }});
        {% endspaceless %}
    } );
</script>
